<!DOCTYPE html>
<html ng-app>
<head>
    <title>aspes</title>
    <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
</head>

<body>
    <h1>Hello, Aspes's Blog!</h1>

    <div ng-controller="myCon">
    name:
    <br />
    <input type="text" ng-model="name" />
    <ul>
      <li ng-repeat="p in people | filter:name | orderBy:'city'">{{p.name}} - {{p.city}}</li>
    </ul>
    <script>
    function myCon($scope) {
      $scope.people = [
      	{name: "John", city: "New York"},
      	{name: "Tom", city: "Atlanta"},
      	{name: "Kelly", city: "Seattle"},
      	{name: "Ann", city: "Phoenix"}
      ]
    }
    </script>
    </div>
</body>
</html>
